/* For the body and html elements */
.active-nav {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

/* For the containing element of the nav's links */
.main-nav__links-list--active {
  display: block;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* .main-nav--active-mobile {
  background-color: #f2efed;
} */

/* .main-nav__logo--active-mobile {
  filter: invert();
}

.hamburger--active {
  background-color: black;
} */
