.tippy-box[data-theme~='canvas'] {
  background-color: #f2efed;
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 0px;
  opacity: 0.9;
}

.share__link--content {
  margin-right: 2px;
  line-height: 100%;
}

.share__link--copied {
  display: inline-block;
  height: 14px;
  width: 14px;
  margin-bottom: 4px;
}
