/* Body and HTML elements */
.active-modal {
  overflow: hidden;
  position: absolute;
  width: 100%;
}

/* Age gate's containing element */
.modal--active {
  display: flex;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
