/* For the body and html elements */
.active-modal {
  overflow: hidden;
  position: fixed;
}

/* For the age gate's containing element */
.age-gate--active {
  display: flex;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
