/* Utility Pages Illustration */
.utility__icon-bounding {
  vertical-align: middle;
}

.utility__icon-base {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50% 0 0 -50%;
  width: 100%;
}

.utility__icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50% 0 0 calc(85% / 2 * -1);
  width: 85%;
}
